.git
.gitignore

.github
.vscode
.idea

**pycache**/
*.pyc
*.pyo
*.pyd

.pytest_cache/
.mypy_cache/
.ruff_cache/

.coverage
htmlcov/

.env
.env.*

.env.example

.venv/
venv/

logs/
*.log

dist/
build/
*.egg-info/

tests/
docs/

Dockerfile*
docker-compose*

README.md
Makefile

.DS_Store
Thumbs.db
